@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 65.6%;
}

body {
  background: #b60fb6;
}

.app-section {
  width: 80%;
  max-height: 90%;
  margin: 10rem auto auto auto;
  border-style: solid;
  border-color: #fff;
  border-radius: 25px;
}

.top-app {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.title {
  margin: 2rem auto;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 1.7rem;
  font-family: "Akaya Telivigala", cursive;
  padding-left: .3rem;
  padding-right: .3rem;
}

.disclaimer {
  margin: 1rem auto;
  text-align: center;
  color: rgba(248, 246, 246, 0.794);
  font-family: "Sofia", cursive;
  font-size: 1.4rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.disclaimer span {
  color: #fff !important;
  font-size: 1.55rem !important;
}

header {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Akaya Telivigala", cursive;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgba(248, 246, 246, 0.794);
  padding-left: 1rem;
  padding-right: 1rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
  font-family: "Sofia", cursive;
}

.todo-result {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  font-family: "Sofia", cursive;
}

input {
  padding: .5rem;
  border-radius: 10px;
  outline: none !important;
  caret-color: green;
  font-family: "Sofia", cursive;
  text-align: center;
}

button {
  padding: .2rem;
  margin-top: 1rem;
  font-family: "Akaya Telivigala", cursive;
  cursor: pointer;
}

button:hover {
  background-color: #000 !important;
  color: #fff;
  border: none;
}

button i {
  color: red;
}

.profile-img {
  width: 100%;
  text-align: center;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -5rem;
  border-style: solid;
  border-color: #fff;
}

.todo-result {
  width: 90%;
  margin: 3rem auto;
}

.todo-result .todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #971d1d;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.todo-result li {
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding-left: 2rem;
  border-bottom-style: solid;
}

.todo-buttons {
  background-color: #1a1a70;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.delete-button, .check-button {
  padding: .5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2rem;
}

.fa-trash-alt, .fa-check {
  pointer-events: none;
}

.check-button {
  margin-right: 1rem;
}

.check-button i {
  color: green;
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
}

.fade-down {
  opacity: 0;
  -webkit-transform: translateX(8rem) rotateZ(-20deg);
          transform: translateX(8rem) rotateZ(-20deg);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  color: #971d1d;
  cursor: pointer;
  width: 10rem;
  height: 2.5rem;
  text-align: center;
  font-family: "Akaya Telivigala", cursive;
}

.select {
  margin: 1rem auto;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.select::after {
  content: "👇";
  background-color: #971d1d;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  padding: .1rem;
  pointer-events: none;
}

.select:hover::after {
  background-color: #1a1a70;
}
/*# sourceMappingURL=style.css.map */